<template name='eventIndex'>
  {{#if currentUser}}
  <div class='jumbotron'>
    <h3>Events Currently Running</h3>
    <a href='{{pathFor route="event.create"}}'>
      <button type='button' class='btn btn-default'>Create</button>
    </a>
  </div>
  {{/if}}
  <ul class='list-group'>
    {{#each events}}
    {{> eventListItem}}
    {{/each}}
  </ul>
</template>
