<template name='eventShow'>
  <div class='jumbotron'>
    <h1>{{name}}</h1>
    <p><strong>{{username}}</strong> - {{description}}</p>
    {{#if isOwner}}
    <div class='row'>
      <div class='col-sm-12 btn-group'>
        <a href='{{pathFor "event.update"}}'>
          <button type='button' class='btn btn-sm btn-warning col-sm-2'>Edit</button>
        </a>
        <a href='{{pathFor "event.remove"}}'>
          <button type='button' class='btn btn-sm btn-danger col-sm-2'>Delete</button>
        </a>
      </div>
    </div>
    {{/if}}
    <div class='row'>
      <div class='col-sm-12'>
        <a href='{{pathFor "group.create"}}'>
          <button type='button' class='btn btn-sm btn-success col-sm-12'>
            Create Group
          </button>
        </a>
      </div>
    </div>
  </div>
  <ul class='list-group'>
    {{#each groups}}
      {{> group}}
    {{/each}}
  </ul>
</template>