<template name='eventUpdate'>
  {{#if isOwner}}
  <div class='jumbotron'>
    <h2>Create New Event</h2>
    <form id='update-event'>
      <div class='row'>
        <div class='col-sm-6'>
          <div class='row'>
            <div class='col-sm-6'>
              <div class='form-group'>
                <label for='new-event-name'>Event Name</label>
                <input id='new-event-name' class='form-control' type='text' name='name' required=true placeholder='My Event' value='{{name}}'>
              </div>
            </div>
            <div class='col-sm-6'>
              <div class='form-group'>
                <label for='new-event-role'>Add Roles</label>
                <input id='new-event-role' class='form-control' type='text' name='roles' placeholder='Role 1, Role 2, Role 3...' value='{{roles}}'>
              </div>
            </div>
            <div class='col-sm-6'>
              <div class='form-group'>
                <label for='new-event-min-size'>Min Group Size</label>
                <input id='new-event-min-size' class='form-control' type='number' name='minSize' size=4 value='{{minSize}}'>
              </div>
            </div>
            <div class='col-sm-6'>
              <div class='form-group'>
                <label for='new-event-min-size'>Max Group Size</label>
                <input id='new-event-min-size' class='form-control' type='number' name='maxSize' size=4 value='{{maxSize}}'>
              </div>
            </div>
          </div>
        </div>
        <div class='col-sm-6'>
          <div class='form-group'>
            <label for='new-event-description'>Event Description</label>
            <textarea id='new-event-description' class='form-control' type='text' name='description' required=true placeholder='Event Description' rows=5  value='{{description}}'></textarea>
          </div>
        </div>
      </div>
      <button type='submit' class='btn btn-default'>Update</button>
    </form>
  </div>
  {{/if}}
</template>