<template name="eventListItem">
  <li class='list-group-item event-item'>
    <div class='row'>
      <div class='col-md-3 event-name'>
        {{#if currentUser}}
        <a href='/events/{{_id}}'>
          <button type='button' class='btn btn-default' aria-label='Join'>
            <span class='glyphicon glyphicon-new-window' aria-hidden='true'></span>
          </button>
        </a>
        {{/if}}
        {{name}}
        <span class='badge'>
          {{memberCount}}
        </span>
      </div>
      <div class='col-md-9'>
        {{description}}
      </div>
    </div>
  </li>
</template>