<template name="group">
  <li class='list-group-item group-item'>
    <div class='row'>
      <div class='col-md-3 group-name'>
        <a href='/group/{{_id}}'>
          <button type='button' class='btn btn-default' aria-label='Join'>
            <span class='glyphicon glyphicon-new-window' aria-hidden='true'></span>
          </button>
        </a>
        {{name}}
        <span class='badge'>
          {{membercount}}
        </span>
      </div>
      <div class='col-md-9'>
        {{description}}
      </div>
    </div>
  </li>
</template>