<template name='index'>
  <div class='jumbotron'>
    <h1>Looking For Group</h1>
    <p>The premeir group-finding tool for classrooms and events</p>
    <a href="{{pathFor route='event.index'}}">
      <button type='button' class='btn btn-primary'>See Public Events</button>
    </a>
  </div>
</template>