<template name='nav'>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Looking For Group</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href='/events'>Events</a></li>
        </ul>
        <ul class='nav navbar-nav navbar-right'>
          <li>{{> loginButtons}}</li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</template>