<template name='warning'>
  <div class='alert alert-{{warningType}} alert-dismissible' role='alert'>
    <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
      <span aria-hidden='true'>&times;</span>
    </button>
    <strong>{{warningHeader}}</strong> - {{warningMessage}}
  </div>
</template>